{% extends "layout.html" %} 


{% block content %}
<div style="min-height: 650px; background-color: #aaddaa" class="col-lg-8 col-md-7 col-sm-12">
	<div class="map">
		<p>Map</p>
	</div>
</div>
	<div class="col-lg-4 col-md-5 col-sm-12">
		<div class="contain">
			<div class="menus">
				<label>Hotels</label>
				<select class="form-control" name="Hotels">
					{% for hotel in hotels %}
				  <option value={{hotel.name}}>{{hotel.name}}</option>
				  	{% endfor %} 
				</select>

				<label>Restaurants</label>
				<select class="form-control" name="Restaurants">
					{% for restaurant in restaurants %}
				  <option value={{restaurant.name}}>{{restaurant.name}}</option>
				  {% endfor %} 
				</select>

				<label>Activities</label>
				<select class="form-control" name="Activities">
					{% for activity in activities %}
				  <option value={{activity.name}}>{{activity.name}}</option>
				  {% endfor %} 
				</select>
			</div>
		</div>
		<div class="contain">
			<button class="btn btn-primary" type="button">
		  	Day Number <span class="badge">2</span>
			</button>
		</div>
	</div>

{% endblock %}


