<!-- layout.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Trip Planner</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>

  <body>
    <div class="navbar" role="navigation">
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <hr/>
    <div id="footer" class="container text-muted">
      Travel Planner by SJ and Chris
    </div>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>