@import "normalize";


*, *:after, *:before {
  box-sizing: border-box;
}

@mixin clearfix {
	&:after {
		content: '';
		display: table;
		clear: both; 
	}
}

body {
	padding-top: 50px;
}

#passport {
	float: left;
	height: 25px;
}

.contain {
		background-color: RGBa(0,0,0,.3);
		margin: 10px;
		padding: 30px;
		border-radius: 10px;
	}

.form-control  {
	margin-bottom: 15px;
}

.content {
	@include clearfix;
	width: 100%;
	padding: 0;
	label {
		display: block;
		color: #eeeeee;
		padding-top: 12px;
	}
	background-color: #555555;
}

button.btn.btn-primary {
	display: block;
	margin: auto;
}

$grid-width : 100%;
$gutter-width: 12%;

@for $i from 1 through 12 {
	.col-lg-#{$i} {
		float: left;
		width: ($i/12) * $grid-width;
		padding: 0;
	}
}


@media screen and (max-width: 600px) {
	@for $i from 1 through 12 {
		.col-sm-#{$i} {
			float: left;
			width: ($i/12) * $grid-width;
			padding: 0;
		}
	}
}

@media screen and (min-width: 600px) and (max-width: 980px) {
	@for $i from 1 through 12 {
		.col-md-#{$i} {
			float: left;
			width: ($i/12) * $grid-width;
			padding: 0;
		}
	}
}


