@import "normalize";

$button_color: rgba(0,255,125, .6);

*, *:after, *:before {
  box-sizing: border-box;
}

@mixin clearfix {
	&:after {
		content: '';
		display: table;
		clear: both; 
	}
}

body {
	padding-top: 50px;
}

#passport {
	float: left;
	height: 25px;
	margin-right: 10px;
}

#map-canvas {
	height: 100vh;
}

.contain {
		background-color: RGBa(0,0,0,.3);
		margin: 10px;
		padding: 30px;
		border-radius: 10px;
	}

.form-control  {
	margin-bottom: 15px;
	width: 85%;
	display: inline;
}

.nav-pills{
	position: relative;
	h1{
		color: #333333;
		font-size: 3em;
		position: absolute;
		right: 10px;
		top: 12px;
		margin: auto 0;
		}
	background-color: RGBa(0,0,0,.4);
	padding: 15px;
	border-radius: 10px 10px 0px 0px;
	li{
		a {
		color: $button_color;
		}
		border: 2px solid;
		border-radius: 50%;
		:hover, :focus, :active {
			border: 1px none;
			border-radius: 50%;
			background-color: $button_color;
		}
	}
}

@media screen and (max-width: 1475px) {
	.nav-pills h1{
	font-size: 2.5em;
	text-align: center;
	top: 15px;
	}
}

@media screen and (max-width: 1375px) {
	.nav-pills h1{
	font-size: 2em;
	text-align: center;
	top: 20px;
	}
}
@media screen and (max-width: 1275px) {
	.nav-pills h1{
	font-size: 1.5em;
	text-align: center;
	top:25px;
	}
}
@media screen and (max-width: 1175px) {
	.nav-pills h1{
	display: none;
	}
}

@media screen and (min-width: 453px) and (max-width: 686px) {
	.nav-pills h1{
	display: inline-block;
	font-size: 2.5em;
	text-align: center;
	top: 15px;
	}
}

span > .btn-danger {
	border-radius: 50%;
	border: 1px;
	padding: 1px 6px 2px 6px;
}

.btn-primary {
	border-radius: 50%;
	border: 1px;
	margin-left: 10px;
	padding: 1px 6px 2px 6px;
}

#day {
	background-color: RGBa(0,0,0,.3);
	height: 400px;
	padding: 30px;
	border-radius: 0px 0px 10px 10px;
	p {
	color: #878787;
	}
}

label {
	font-size: 17px;
	color: #bbbbbb
	}

.nav-pills>li.active>a {
	border: 1px none;
	border-radius: 50%;
	background-color: $button_color;
}

.nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	color: $button_color;
	background-color: white;
}

.content {
	@include clearfix;
	width: 100%;
	padding: 0;
	label {
		display: block;
		color: #eeeeee;
		padding-top: 12px;
	}
	background-color: #555555;
}

button.btn.btn-primary {
	display: block;
	margin: auto;
}

$grid-width : 100%;
$gutter-width: 12%;

@for $i from 1 through 12 {
	.col-lg-#{$i} {
		float: left;
		width: ($i/12) * $grid-width;
		padding: 0;
	}
}


@media screen and (max-width: 687px) {
	@for $i from 1 through 12 {
		.col-sm-#{$i} {
			float: left;
			width: ($i/12) * $grid-width;
			padding: 0;
		}
	}
	#map-canvas {
	height: 50vh;
	}
}

@media screen and (min-width: 687px) and (max-width: 980px) {
	@for $i from 1 through 12 {
		.col-md-#{$i} {
			float: left;
			width: ($i/12) * $grid-width;
			padding: 0;
		}
	}
}



